<% provide(:title, @user.login) %>
<a id="home" href = "/index">Вернуться на главную страницу</a>
<div class="row">
  <aside class="span4">
    <section>
      <p>
        <%= @user.fullname %>
      </p>
      <h1>Личный кабинет 
      <% case @user.users_status_id 
      		when 1
       %> администратора Аукциона<br> 
            <% if @user.action %>
            <%= link_to 'Остановить Аукцион', '/add_switch', class: 'add_switch', remote: true %>
              <h1>
                АУКЦИОННЫЕ ТОРГИ
              </h1>
            <% else %>
            <%= link_to 'Запустить Аукцион', '/add_switch', class: 'add_switch', remote: true %>
              <h5>
                Назначить дату Аукциона
              </h5>
              <h5>
                Добавить менеджера Аукциона
              </h5>
            <% end %>

      <% 	when 2
       %> продавца
            <% if @user.action %>
              <h1>
                АУКЦИОННЫЕ ТОРГИ
              </h1>
              <h5>
                Стартовая сумма по товару
              </h5>
              <h5>
                Список предложений по товарам
              </h5>
              <h5>
                Снять товар с Аукциона
              </h5>
            <% else %>
              <h5>
                Правила Аукциона
              </h5>
              <h5>
                Добавить товар
              </h5>
              <h5>
                Изменить информацию о товаре
              </h5>
              <h5>
                Список отклонённых товаров для размещения на Аукционе
              </h5>
              <h5>
                Ответить менеджеру Аукциона
              </h5>

              <h1>
                Площадка бартерного обмена товарами
              </h1>
            <% end %>
      <% 	when 3
       %> покупателя
            <% if @user.action %>
              <h1>
                АУКЦИОННЫЕ ТОРГИ
              </h1>
              <h5>
                Начальная цена товара
              </h5>
              <h5>
                Шаг по цене товара
              </h5>
              <h5>
                Список предложений по товарам
              </h5>
              <h5>
                Предложить свою цену
              </h5>
            <% else %>
              <h5>
                Правила аукциона
              </h5>
              <h5>
                Список товаров по категориям
              </h5>
              <h5>
                Договориться о доставке товара с Аукциона
              </h5>
              <h5>
                Операции с залоговыми суммами
              </h5>
              <h5>
                Ответить менеджеру Аукциона
              </h5>
            <% end %>
      <% 	when 4
       %> менеджера Аукциона
            <% if @user.action %>
              <h1>
                АУКЦИОННЫЕ ТОРГИ
              </h1>
            <% else %>
              <h5>
                Обслуживание совершённых на Аукционе сделок
              </h5>
              <h5>
                Регистрация в Web-сервисе новых товаров
              </h5>
              <h5>
                Операции с залоговыми суммами и иными платежами
              </h5>
            <% end %>
      <% end
       %> 
      </h1>			
    </section>
  </aside>
</div>