<h1>Web-сервис Аукцион</h1>
            <% if @userAd.action %>
              <h4>
                Войти на торговую площадку
              </h4>
            <% else %>
              <h4>
                График мероприятий
              </h4>
              <h4>
                Каталог товаров
              </h4>
            <% end %>
<a id="regi21" href = "/signup">Регистрация</a><p></p>
<a id="regi20" href = "/autorization">Авторизация</a><p></p>
<a id="polit" href = "/politics">Политика обработки персональных данных</a><p></p>
